<div class="container d-flex justify-content-between tamanho">


    <div class="card" style="width: 18rem;">
        <img src="../../assets/OIP.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Nether Update</h5>
          <p class="card-text">Come explore the nether update containing new items, blocks, mobs and much more!</p>
            <a href="#" class="btn btn-primary container-fluid">Explore!</a>
        </div>
    </div>


    <div class="card" style="width: 18rem;">
        <img src="../../assets/village.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Village and Pillage Update</h5>
          <p class="card-text">Come defend and help the villagers from the evil illagers on this update!</p>
            <a href="#" class="btn btn-primary container-fluid">Explore!</a>
        </div>
    </div>

</div>

